body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    color: #e1e1e1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    
    background-color: #000;
}

.gridSquare {
    height: 24px;
    width: 24px;
    background-color: #fff;
}